@media screen and (max-width: 767px){
    main{
        padding-top: 3%;
        background-color: white;
    }
    nav {
        background-color: #556270;
        padding-top: 3%;
    }
    nav a{
        color: white;
    }

    a {
        font-size: 13px;
    }
    h1 {
        font-size: 25px;
    }
    p {
        font-size: 12px;
    }
    h5 {
        font-size: 14px;
        font-weight: bold;
    }
    footer {
        background-color: white;
    }
    footer p {
        font-size: 11px;
    }

}